{% if item.profiles is defined %}
{% for profile in item.profiles %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.access_key_id | default('') }}
aws_secret_access_key = {{ profile.secret_access_key | default('') }}
{% endfor %}
{% else %}
[default]
aws_access_key_id = {{ item.access_key_id | default('') }}
aws_secret_access_key = {{ item.secret_access_key | default('') }}
{% endif %}
