{% if item.profiles is defined %}
{% for profile in item.profiles %}
[profile {{ profile.name }}]
{% if profile.output | default(false) %}
output = {{ profile.output }}
{% endif %}
{% if profile.region | default(false) %}
region = {{ profile.region }}
{% endif %}

{% endfor %}
{% else %}
[default]
{% if item.output | default(false) %}
output = {{ item.output }}
{% endif %}
{% if item.region | default(false) %}
region = {{ item.region }}
{% endif %}
{% endif %}
