{% if item.profiles is defined %}
{% for profile in item.profiles %}
[{{ profile.name }}]
{% if profile.access_key_id | default(false) %}
aws_access_key_id = {{ profile.access_key_id }}
{% endif %}
{% if profile.secret_access_key | default(false) %}
aws_secret_access_key = {{ profile.secret_access_key }}
{% endif %}

{% endfor %}
{% else %}
[default]
{% if item.access_key_id | default(false) %}
aws_access_key_id = {{ item.access_key_id }}
{% endif %}
{% if item.secret_access_key | default(false) %}
aws_secret_access_key = {{ item.secret_access_key }}
{% endif %}
{% endif %}
